table{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
#makeaccountmessage{
    font-size: 36pt;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 0, 0);
}
#passwordincorrect{
    font-size: 36pt;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 0, 0);
    margin-top: 50px;
}

#betamessage{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}
#logo{
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 10px;
    display: flex;
}
#formlabel{
    text-align: right;
}
label{
    font-size: 20px;
}
input[type="text"]{
    font-size: 20px;
    margin-bottom: 10px;
    width: 99%;
}
input[type="password"]{
    font-size: 20px;
    width: 99%;
    margin-bottom: 10px;
}

input[type="submit"]{
    margin-top: 50px;
    font-size: 20px;
}
