body{
    background-color: rgb(52, 61, 70);
    color: white;
}
table{
    width: 100%;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 42pt;
    margin-bottom: 50px;
}
#homebutton{
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(23, 26, 29);
    color: rgb(255, 255, 255);
    font-size: 46px;
    padding: 5px;
    margin: 0px;
    margin-top: 10px;
    text-decoration: none;
}
input[type="text"]{
    width: 100%;
    font-size: 38pt;
    border: none;
}
input[type="image"]{
    width: 60px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
input[type="image"]{
    width: 35px;
    height: 35px;
}
#message{
    font-size: 36pt;
    text-align: center;
}
#producttable.td{
    border-bottom: 1px solid black;
}